{% extends 'base.html' %}

{% block sidebar %}

<div class="col-md-4">
        <div class="list-group">
          {% for item in categories %}
          <a href="{% url 'category' item.pk %}" class="list-group-item list-group-item-action" aria-current="true">
            {{item.title}}
          </a>
          {% endfor %}
  </div>
      </div>

{% endblock %}

{% block content %}

{% for item in news %}
        <div class="card mb-3">
  <div class="card-header">
        Category: <a href="{% url 'category' item.category.pk %}"> {{ item.category }}</a>
  </div>
  <div class="card-body">
    <h5 class="card-title {% cycle 'text-danger' 'text-success' %}">{{ item.title }}</h5>
    <p class="card-text">{{ item.content }}</p>
    {% if item.photo %}
      <img src="{{ item.photo.url }}" alt="">
    {% else %}
      <img src= "https://picsum.photos/200/300" alt="">
    {% endif %}
    <a href="#" class="btn btn-primary">Go somewhere...</a>
  </div>
  <div class="card-footer text-muted">
      {{ item.created_at|date:"Y-m-d H:i:s"  }}
  </div>
</div>
        {% endfor %}

{% endblock %}

